<div class="bg-black text-white p-4 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 my-3 text-center">
                <div class="text-center">
                    <h4>Servicio al cliente</h4>
                    <a class="d-block text-white my-3" href="#">PEDIDO Y PAGO</a>
                    <a class="d-block text-white my-3" href="#">ENVÍO Y DEVOLUCIONES</a>
                    <a class="d-block text-white my-3" href="#">PREGUNTAS FRECUENTES</a>
                </div>
            </div>
            <div class="col-lg-4 my-3 text-center">
                <h4>Subscríbete</h4>
                <span>
                    Recibe nuestras últimas ofertas y noticias
                    directamente en tu bandeja de entrada
                </span>
                <div class="border p-1 d-flex border-white mt-4">
                    <div class="border-right w-100 border-white pr-2">
                        <input type="text" class="outline-none border-0 w-100 bg-black text-white"
                            placeholder="ejemplo@dominio.com">
                    </div>
                    <button class="ml-1 button-send bg-black text-white border-0">ENVIAR</button>
                </div>
            </div>
            <div class="col-lg-4 my-3 text-center">
                <h4>Siguenos en:</h4>
                <a class="d-block text-white my-3" href="#">FACEBOOK</a>
                <a class="d-block text-white my-3" href="#">INSTAGRAM</a>
            </div>
        </div>
        <hr class="bg-white">
        <div class="text-center">
            <span>Copyright © 2021 Todos los derechos reservados.</span>
        </div>
    </div>
</div>