<div class="bg-black shadow py-2 px-3 position-fixed w-100 menu-header">
    <a href="javascript:void(0)" *ngIf="!notifyAlert" (click)="suscribe()" class="text-white small">
        <i class="fa fa-bell"></i> ¡Recibir notificaciones de nuevos implementos!
    </a>
    <a href="javascript:void(0)" *ngIf="notifyAlert" (click)="unsuscribe()" class="text-white small">
        <i class="fa fa-bell-slash"></i> ¡Dejar de recibir notificaciones!
    </a>
</div>

<div class="menu-header d-flex align-items-center position-absolute mt-5 w-100 justify-content-center">
    <a routerLinkActive="activeRout" routerLink="/home" class="mx-4 text-white font-weight-bold">INICIO</a>
    <a routerLinkActive="activeRout" routerLink="/resources" class="mx-4 text-white font-weight-bold">RECURSOS</a>
    <img src="assets/img/virus.png" style="filter: invert(1);" class="mx-3" width="130px" alt="">
    <a routerLinkActive="activeRout" routerLink="/register" class="mx-4 text-white text-center font-weight-bold">REGISTRAR
        <br> RECURSO</a>
    <a routerLinkActive="activeRout" routerLink="/contact" class="mx-4 text-white font-weight-bold">CONTACTO</a>
</div>