<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/img/banner1.jpeg" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
            <h3>Te ayudamos a encontrar camas UCI</h3>
            <p>
                Ahora podrás recibir alertas de cuando hay una cama UCI disponible
                sin la necesidad de que tengas que buscar
            </p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/img/banner4.jpeg" alt="Angular Carousel 2">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/img/banenr3.jpeg" alt="Angular Carousel 2">
        </div>
    </ng-template>
</ngb-carousel>

<div class="p-5 d-flex justify-content-center align-items-center">
    <img src="https://image.flaticon.com/icons/png/512/2203/2203528.png" width="150px" alt="">
    <div class="text-center pb-5 mb-4 px-5">
        <h1 class="text-black font-weight-bold">Nuestro Objetivo</h1>
        <h3>
            Enviar notificaciones en tiempo real del momento en que hay una cama UCI disponible para que las personas que los necesiten puedan acceder a ellas 
        </h3>
    </div>
    <img src="https://image.flaticon.com/icons/png/512/2203/2203528.png" width="150px" alt="">
</div>

<div class="bg-black">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-white text-center my-4">
                <h1 class="font-weight-bold mb-0">100</h1>
                <h5>Camas UCI <br> disponibles</h5>
            </div>
            <div class="col-lg-4 text-white text-center my-4">
                <h1 class="font-weight-bold mb-0">58</h1>
                <h5>Galones de Oxígeno <br> disponibles</h5>
            </div>
            <div class="col-lg-4 text-white text-center my-4">
                <h1 class="font-weight-bold mb-0">12</h1>
                <h5>Respiradores Artificiales <br> disponibles</h5>
            </div>
        </div>
    </div>
</div>

<div class="p-5 d-flex justify-content-center align-items-center">
    <div class="text-black text-center pb-5 mb-4">
        <h1 class=" font-weight-bold mb-5">¿Cómo podemos seguir ayudando?</h1>
        <h3 class="mb-0">
            Dejaremos una sección en la cual ustedes pueden informar sobre una cama UCI disponible
            y alertará a todas las personas que hayan solicitado recibir estas notificaciones. 
        </h3>
    </div>
</div>