<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/img/banner1.png" alt="Angular Carousel 1">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/img/banner2.png" alt="Angular Carousel 2">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/img/banner3.png" alt="Angular Carousel 2">
        </div>
    </ng-template>
</ngb-carousel>

<div class="p-5 d-flex justify-content-center align-items-center">
    <img src="assets/img/scissor.png" width="180px" alt="">
    <div class="text-center pb-5 mb-4">
        <h1 class="text-black font-weight-bold">Nuestro Objetivo</h1>
        <h3>
            Confeccionar productos de alta calidad que logre que
            muchas empresas tengan un impacto en sus clientes.
        </h3>
    </div>
    <img src="assets/img/scissor.png" width="180px" alt="">
</div>

<div class="bg-black">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-white text-center my-4">
                <h1 class="font-weight-bold mb-0">7.195k</h1>
                <h5>Seguidores en <br> Facebook</h5>
            </div>
            <div class="col-lg-4 text-white text-center my-4">
                <h1 class="font-weight-bold mb-0">3.501k</h1>
                <h5>Seguidores en <br> Instagram</h5>
            </div>
            <div class="col-lg-4 text-white text-center my-4">
                <h1 class="font-weight-bold mb-0">1.501k</h1>
                <h5>Clientes a nivel <br> internacional</h5>
            </div>
        </div>
    </div>
</div>

<div class="p-5 d-flex justify-content-center align-items-center">
    <div class="text-white pb-5 mb-4">
        <h1 class="text-black text-center font-weight-bold mb-5">Nuestros clientes</h1>
        <div class="row container">
            <div class="col-lg-3">
                <img src="assets/img/cliente4.jpg" width="100%" alt="">
                <div class="w-100 bg-black p-3">
                    <h5 class="font-weight-bold mb-2">Juan Carlos Bosch</h5>
                    <div style="display: grid;">
                        <small>Barbería: BOSCH BARBER</small>
                        <small>País: España</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="assets/img/cliente2.jpg" width="100%" alt="">
                <div class="w-100 bg-black p-3">
                    <h5 class="font-weight-bold mb-2">Juan Carlos Bosch</h5>
                    <div style="display: grid;">
                        <small>Barbería: BOSCH BARBER</small>
                        <small>País: España</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="assets/img/cliente3.jpg" width="100%" alt="">
                <div class="w-100 bg-black p-3">
                    <h5 class="font-weight-bold mb-2">Juan Carlos Bosch</h5>
                    <div style="display: grid;">
                        <small>Barbería: BOSCH BARBER</small>
                        <small>País: España</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="assets/img/cliente4.jpg" width="100%" alt="">
                <div class="w-100 bg-black p-3">
                    <h5 class="font-weight-bold mb-2">Juan Carlos Bosch</h5>
                    <div style="display: grid;">
                        <small>Barbería: BOSCH BARBER</small>
                        <small>País: España</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>